  
   

   *{
     font-family: "Lato", sans-serif;
   }

   h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: "Orbitron", sans-serif;
   }

   :root{
    --yellow: rgb(255,232,31);
    --black: rgb(23,23,23);
    --red: #E4202B;
   }

   .bg-yellow{
    background-color: var(--yellow);
   }

   .bg-black{
    background-color: var(--black);
   }

   .bg-red{
    background-color: var(--red);
   }

   .text-yellow{
    color: var(--yellow);
   }

   .text-black{
    color: var(--black);
   }

   .text-white{
    color: var(--white);
   }


   /*navbar*/

.navbar{
    height: 140px;
    transition: 0.5s;
}



   .nav-link{
    color: var(--yellow);
    font-weight: 900;
   }

   .nav-link:hover{
    color: white;
    text-shadow: 2px, 2px, 5px, var(--red);
   }

   .logo{
    width: 50px;

   }


