  
   

   *{
     font-family: "Lato", sans-serif;
   }

   h1,h2,h3,h4,.h1,.h2,.h3,.h4{
    font-family: "Orbitron", sans-serif;
   }

   :root{
    --yellow: rgb(255,232,31);
    --black: rgb(23,23,23);
    --white: rgb(244.244.244);
   }

   .bg-yellow{
    background-color: var(--yellow);
   }

   .bg-black{
    background-color: var(--black);
   }

   .bg-white{
    background-color: var(--white);
   }

   .text-yellow{
    color: var(--yellow);
   }

   .text-black{
    color: var(--black);
   }

   .text-white{
    color: var(--white);
   }
